################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MWS.DB/bin/Debug
/MWS.DB/obj
/Lib
/.vs
/ECS/bin
/ECS/obj
/test/obj
/test/bin/Debug
/YF.ESC.SqlSugarServer/obj
/YF.ESC.SqlSugarServer/bin
/YF.ESC.SqlSugarServer/Properties/launchSettings(1).json
/YF.ESC.SqlSugarService.Interface/obj
/YF.ESC.SqlSugarService.Interface/bin
/YF.ESC.SqlSugarService.Interface/Properties/launchSettings(1).json
/YF.MWS.BaseMetadata/bin
/YF.MWS.BaseMetadata/obj
/YF.MWS.CacheService/obj
/YF.MWS.CacheService/bin/Debug
/YF.MWS.Client.DataService.Interface/obj
/YF.MWS.Client.DataService.Interface/bin/Debug
/YF.MWS.Client.DataService.Interface/Properties/AssemblyInfo.cs
/YF.MWS.Db/bin
/YF.MWS.Db/obj
/YF.MWS.DbMapping/obj
/YF.MWS.DbMapping/bin/Debug
/YF.MWS.Metadata/bin
/YF.MWS.Metadata/obj
/YF.MWS.Models/obj
/YF.MWS.Models/bin
/YF.MWS.SQliteService/obj
/YF.MWS.SQliteService/bin/Debug
/YF.MWS.Sync.Win/bin/Debug
/YF.MWS.Sync.Win/obj/Debug
/YF.MWS.Util/bin/Debug
/YF.MWS.Util/obj
/YF.MWS.Win/bin/Debug
/YF.MWS.Win/File
/YF.MWS.Win/obj/x86
/YF.MWS.Win/Sound
/YF.MWS.Win/Resources
/YF.MWS.Win/Sync/Source
/YF.MWS.Win/Report
/YF.MWS.Win/zh-CN
/YF.MWS.Win.Test/obj/Debug
/YF.MWS.Win.Test/bin/Debug
/YF.MWS.Win.Util/obj/Debug
/YF.MWS.Win.Util/bin/Debug
/data.sql
packages
*.rar
