<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MapAssembly" value="YF.MWS.DbMapping"/>
    <add key="databaseType" value="Sqlserver"/>
    <add key="dsn" value="server=.\SQLEXPRESS;database=MWS;uid=sa;pwd=sql2005;Enlist=true;Pooling=true;Max Pool Size=600;Min Pool Size=0;Connection Lifetime=600;packet size=1000"/>
    <add key="AppName" value="Sync.exe"/>
    <add key="SyncInterval" value="5"/>
    <add key="EcsServer" value=" "/>
    <add key="StartAppCardRead" value="1"/>
    <add key="CompanyId" value="eb311def597944e29fb883c00ce4e452"/>
    <add key="PhotoSavePath" value="D:\\Project\\MWS\\trunk\\v2.0\\windows\\YF.MWS.Win\\bin\\Release\\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
