<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MapAssembly" value="YF.MWS.DbMapping" />
    <add key="databaseType" value="Sqlite" />
    <add key="dsn" value="server=192.168.1.7;database=MWS_Weight;uid=sa;pwd=123456;Enlist=true;Pooling=true;Max Pool Size=600;Min Pool Size=0;Connection Lifetime=600;packet size=1000" />
    <add key="dsnSqlite" value="Data\MWS.db" />
    <add key="dsnSync" value="Sync\Source\MWS.db" />
    <add key="corpName" value="永康仓舒软件开发工作室" />
    <add key="appName" value="仓舒智能称重系统(Beta)" />
    <add key="note" value="联系电话：15872653623（微信同号）       官网：http://www.ykcangshu.cn" />
    <add key="loadData" value="系统正在加载中,请稍后..." />
    <add key="defaultPwd" value="123456" />
    <!--机器生成: Auto 配置(防止出现相同机器码):Cfg-->
    <add key="codeGeneratorMode" value="Auto" />
    <add key="machineCode" value="AFC0DA1953FA42C1816C1257" />
    <add key="partenerServerUrl" value="http://14.153.124.43:51000/zfapiv2/weight/add_weight" />
    <add key="versionText" value="标准版1.2" />
    <!--正式版: Official 试用版:Probation-->
    <add key="version" value="Probation" />
	<add key="use" value="all" />
    <add key="versionCode" value="YC" />
    <!--Draw,Template-->
    <add key="printModel" value="Template" />
    <add key="selfUnit" value="KG" />
    <add key="ini" value="SysSetting.ini" />
    <add key="tokenApi" value="http://localhost:14826/api/Service/GetToken" />
    <add key="weightServiceUrl" value="http://120.25.157.251/WCF/WeightSyncService.svc" />
    <add key="UpdateToolExe" value="MWSUpdate.exe" />
    <add key="UpdateServiceAddr" value="http://120.25.157.251/WCF/SoftUpdateService.svc" />
    <add key="AdServiceAddr" value="http://120.25.157.251/WCF/WeightSyncService.svc" />
    <add key="AdDomain" value="http://120.25.157.251/" />
    <add key="UpdateOnline" value="300000" />
    <add key="MeasureSummaryField" value="结算方数;扣方;结算金额" />
    <add key="MeasureSummaryFieldFormat" value="{0:F3};{0:F3};{0:F2}" />
    <add key="MoneyColumn" value="实付金额;结算金额" />
    <add key="MoneyColumnUpper" value="实付金额大写;结算金额大写" />
    <add key="MobileServer" value="https://website.yanchuang.fun/static/page2/" />
    <add key="EcsServer" value="https://weight.ykcangshu.com" /> 
	 <!--  <add key="EcsServer" value="http://127.0.0.1:8001" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="StartLogoUrl" value="File\Logo/startImg.jpg" /><!--- 启动图片路径 -->
    <add key="LoginLogoUrl" value="File\Logo/LoginLogo.jpg" /><!--- 启动图片路径 -->
    <add key="mainBackUrl" value="File\Logo/mainBack.jpg" /><!--- 启动图片路径 -->
	<add key="iconUrl" value="File\Logo/Logo.ico" /> <!--- 图标文件路径 -->
	<add key="Notice" value="File\Welcome/Notice.rtf" /><!--- 公告路径 -->
	  
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0DF73EC7942B34E1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.93.0" newVersion="1.0.93.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.1.0" newVersion="13.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>